/**
* LetsknowIT.
*
* @category  Letsknowit
* @package   Letsknowit_Priceslider
* @author    LetsknowIT
*/
#price-slider .ui-slider-handle {
    padding: 0;
    margin-top: -5px;
    margin-left: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #2e4056;
}
.inputrange input {
    max-width: 50px;
    border-radius: 5px;
    margin-top: 10px;
    margin-left:2px; 
    text-align: center;
    padding: 5px;
}
.inputrange .delimiter {
   margin:  5px;
    line-height: 30px;
}
.inputrange .store_currency {
   max-width: 20px;
   margin-left:20px;
}
.inputrange button {
   border-radius: 3px;
   width:22%;
}